<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  
  
<script type="text/javascript">


	$( document ).ready(function() {
		alert("z");
		$('#innerDiv').html("zzzdzdz");
	});

	

</script>

<body>
	
	
	<div id="innerDiv">
	
	</div>
	
	<table id="innerTable"> 
		
	
	</table>



</body>
</html>